services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: marketdb
    #    volumes:
    #      - postgres_data:/var/lib/postgresql/data # Persist data in a named volume
    ports:
      - "5432:5432"
