server:
  port: 8081

spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/marketdb
    username: postgres
    password: mysecretpassword
  sql:
    init:
      mode: always
  application:
    name: MarketApp
  main:
    banner-mode: off

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true