server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: shopfront-service
            client-secret: MVx4Mrx5b1KWasoLBRFJ9MuslIoJCbug
            authorization-grant-type: client_credentials
            scope: openid
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/market-app
  thymeleaf:
    enabled: true
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html;charset=UTF-8
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/marketdb
    username: postgres
    password: mysecretpassword
  data:
    redis:
      host: localhost
      port: 6379
    cache:
      redis:
        time-to-live: PT5S
  sql:
    init:
      mode: always
  application:
    name: MarketApp
  main:
    banner-mode: off

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true